<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/dashboard.css" rel="stylesheet">
</head>
<body>

    <p id="status"><%= status %></p>

        <div class="smallBreak"></div>

    <p>Events</p>
    <br>
    <input id="eventName" type="text" placeholder="Event Name">
    <button id="createEvent">Create Event</button>
    <br>
    
    <% for(var i=0; i<events.length; i++) {%>
        <p><a href="<%= global.rootUrl + '/event/' + events[i]._id %>"><%= events[i].name %></a></p>
        <p><%= events[i].phone %></p>
        <br>
    <% } %>

        <div class="smallBreak"></div>

    <p>Phone Numbers</p>
    <br>
    <input id="areaCode" type="text" placeholder="Area Code">
    <button id="purchaseNumber">Buy A Number</button>
    <br>

    <% for(var i=0; i<phones.length; i++) {%>
        <p><%= phones[i].phone %></p>
        <br>
    <% } %>
    
        <div class="tallBreak"></div>

    <a href="/login">logout</a>

    <script>
        document.getElementById('createEvent').addEventListener('click', function() {
            var eventName = document.getElementById('eventName').value

            if (eventName.length < 1) return

            // Create the request.
            var xhr = new XMLHttpRequest()
            xhr.open("POST", "<%= global.rootUrl %>/createEvent")
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        window.location.reload()
                    } else {
                        document.getElementById('status').innerText = 'Error creating event.'
                    }
                }
            }
            // Send the request.
            xhr.send(JSON.stringify({
                eventName:eventName
            }))
        })
        document.getElementById('purchaseNumber').addEventListener('click', function() {
            var areaCode = document.getElementById('areaCode').value

            if (areaCode.length < 1) return

            // Create the request.
            var xhr = new XMLHttpRequest()
            xhr.open("POST", "<%= global.rootUrl %>/purchaseNumber")
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        window.location.reload()
                    } else {
                        document.getElementById('status').innerText = 'Error purchasing number.'
                    }
                }
            }
            // Send the request.
            xhr.send(JSON.stringify({
                areaCode:areaCode
            }))
        })
    </script>

</body>
</html>