<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    button {
        margin-bottom: 10px;
    }
    p {
        font-size: 12px;
        display: inline-block;
        margin:0;
        padding:0;
    }
    a {
        color:#1154cc;
        font-size: 12px;
    }
    #status {
        font-size:12px;
        color:#009688;
    }
    .smallBreak {
        display: block;
        width: 100%;
        height: 25px;
    }
    .tallBreak {
        display: block;
        width: 100%;
        height: 50px;
    }
</style>
</head>
<body>

    <p id="status"><%= status %></p>

        <div class="smallBreak"></div>

    <p>Events</p>
    <br>
    <input id="eventName" type="text" placeholder="Event Name">
    <button id="createEvent">Create Event</button>
    <br>
    
    <% for(var i=0; i<events.length; i++) {%>
        <p><a href="<%= global.rootUrl + '/events/' + events[i]._id %>"><%= events[i].name %></a></p>
        <p><%= events[i].phone %></p>
        <br>
    <% } %>

        <div class="smallBreak"></div>

    <p>Phone Numbers</p>
    <br>
    <input type="text" placeholder="Area Code">
    <button>Buy A Number</button>
    <br>

    <% for(var i=0; i<phones.length; i++) {%>
        <p><%= phones[i].phone %></p>
        <br>
    <% } %>
    
        <div class="tallBreak"></div>

    <a href="/login">logout</a>

    <script>
        document.getElementById('createEvent').addEventListener('click', function() {
            var eventName = document.getElementById('eventName').value

            if (eventName.length < 1) return

            // Create the request.
            var xhr = new XMLHttpRequest()
            xhr.open("POST", "<%= global.rootUrl %>/createEvent")
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        window.location.reload()
                    } else {
                        document.getElementById('status').innerText = 'Error creating event.'
                    }
                }
            }
            // Send the request.
            xhr.send(JSON.stringify({
                eventName:eventName
            }))
        })
    </script>

</body>
</html>