<!DOCTYPE html>
<html>
<head>
    <title>Trail of Lights 2017</title>

    <meta property="og:url" content="<%= imageUrl %>" />
    <!-- <meta property="og:type" content="article" /> -->
    <meta property="og:title" content="Trail of Lights 2017" />
    <meta property="og:description" content="Trail of Lights 2017" />
    <meta property="og:image" content="<%= imageUrl %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        img {
            max-width: 100%;
            height: auto;
        }
        .imagecontainer {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: row;
            justify-content: center;
        }
    </style>
</head>
<body>

    <!-- <div "> -->
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
        <img src="<%= imageUrl %>">
    <!-- </div> -->

        <br>
        <br>

        <button id="previous">Previous Photo</button>
        <br><br>
        <button id="next">Next Photo</button>

        <script>

            function goTo(direction) {
                var base = window.location.href.split('FunRun')[0]
                var oldNumber = window.location.href.split('FunRun')[1]
                var newNumber;
                if (direction == 'previous') {
                    newNumber = Number(oldNumber) - 1
                } else {
                    newNumber = Number(oldNumber) + 1
                }
                var url = base + 'FunRun' + newNumber
                window.location.assign(url)
            }

            document.getElementById('previous').addEventListener('click',function(){
                goTo('previous')
            })
            document.getElementById('next').addEventListener('click',function(){
                goTo('next')
            })
        </script>
    

</body>
</html>