<!DOCTYPE html>
<html>
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <style>
        input,button,p {
            display: block;
        }
        button {
            margin-bottom: 25px;
        }
        p {
            font-size: 12px;
            color:#009688;
        }
    </style>

    <p id="status"><%= status %></p>

    <input id="loginEmail" type="email" placeholder="Email">
    <input id="loginPassword" type="password" placeholder="Password">
    <button id="login">Login</button>

    <input id="createEmail" type="email" placeholder="Email">
    <input id="createPassword" type="password" placeholder="Password">
    <button id="create">Create Account</button>

    <input id="resetEmail" type="email" placeholder="Email">
    <button id="reset">Reset Password</button>

    <input id="updatePassword" type="password" placeholder="New Password">
    <button id="update">Update Password</button>

    <script>
        document.querySelector('#login').addEventListener('click',function(){
            var email = document.querySelector('#loginEmail').value
            var password = document.querySelector('#loginPassword').value

            if (email.length < 1 || password.length < 1) return

            // Create the request.
            var xhr = new XMLHttpRequest()
            xhr.open("POST", "<%= global.rootUrl %>/login")
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        window.location.assign('/dashboard')
                    } else {
                        document.getElementById('status').innerText = 'Error logging in'
                    }
                }
            }
            // Send the request.
            xhr.send(JSON.stringify({
                email:email,
                password:password
            }))
            
        })
        document.querySelector('#create').addEventListener('click',function(){
            var email = document.querySelector('#createEmail').value
            var password = document.querySelector('#createPassword').value

            if (email.length < 1 || password.length < 1) return

            // Create the request.
            var xhr = new XMLHttpRequest()
            xhr.open("POST", "<%= global.rootUrl %>/create")
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        window.location.assign('/dashboard')
                    } else {
                        document.getElementById('status').innerText = 'Error creating account'
                    }
                }
            }
            // Send the request.
            xhr.send(JSON.stringify({
                email:email,
                password:password
            }))
        })
        document.querySelector('#reset').addEventListener('click',function(){
            var email = document.querySelector('#resetEmail').value

            if (email.length < 1) return

            // Create the request.
            var xhr = new XMLHttpRequest()
            xhr.open("POST", "<%= global.rootUrl %>/reset")
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        document.getElementById('status').innerText = 'Reset email sent'
                    } else {
                        document.getElementById('status').innerText = 'Error resetting password'
                    }
                }
            }
            // Send the request.
            xhr.send(JSON.stringify({
                email:email
            }))
        })
        document.querySelector('#update').addEventListener('click',function(){

            function getParameterFromUrl(name, url) {
                name = name.replace(/[[]]/g, "\$&")
                var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)")
                var results = regex.exec(url)
                if (!results) return ''
                if (!results[2]) return ''
                return results[2]
            }

            var password = document.querySelector('#updatePassword').value
            var token = getParameterFromUrl('token', window.location.href)

            if (password.length < 1 || token.length < 1) return

            // Create the request.
            var xhr = new XMLHttpRequest()
            xhr.open("POST", "<%= global.rootUrl %>/update")
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.onreadystatechange = function() {
                if (this.readyState == 4) {
                    if (this.status == 200) {
                        document.getElementById('status').innerText = 'Updated password'
                    } else {
                        document.getElementById('status').innerText = 'Error updating password'
                    }
                }
            }
            // Send the request.
            xhr.send(JSON.stringify({
                password:password,
                token:token
            }))
        })
    </script>
</body>
</html>